body {
  background-color: rgb(219, 217, 217) !important;
}

.logo {
  height: 25px;
}
.johnson {
  height: 20px;
}
.user-img {
  border-radius: 50%;
}
.user-account span {
  font-style: normal;
  margin-left: 0.2rem;
}

/* Carousel Section */
.carousel img {
  max-height: 400px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 3px;
}

.carousel .carousel-indicators {
  position: absolute;
  bottom: -12%;
}

.carousel .carousel-indicators li {
  background-color: #c5c3c3;
}

.carousel .carousel-indicators li.active {
  background-color: purple;
}
.btn-success {
  background: rgb(116, 172, 22);
  background: linear-gradient(
    0deg,
    rgba(116, 172, 22, 1) 0%,
    rgba(184, 230, 78, 0.908000700280112) 100%
  );
  border: none;
  border-radius: 2px;
  box-shadow: 1px -1px 1px #5e5e5e;
  padding: 7px 30px;
  font-weight: 700;
  font-size: 1.1rem;
}

#addToCartButtonGroup {
  position: absolute;
  right: 0;
  left: 66%;
  top: 81%;
  font-weight: 700;
}
#addToCartButtonGroup span {
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
}
#main-title-on-img {
  position: absolute;
  bottom: 8%;
  left: 10%;
  font-size: 1.5rem;
}
#cyberpunkLogo {
  width: 280px;
  position: absolute;
  top: 21%;
  left: 13%;
}
#soonButtonGroup {
  position: absolute;
  bottom: 20%;
  left: 10%;
}
/*  card*/
.card {
  min-height: 100%;
  box-shadow: 1px -1px 1px #c5c3c3;
}
img.card-image-top {
  width: 100%;
  height: 15vh;
  object-fit: cover;
}
.card-body i {
  color: #5e5e5e;
  font-size: 0.8rem;
}
.card-price {
  right: 10%;
}

.my-spinner {
  height: 30px;
  width: 30px;
  border: 6px solid purple;
  border-radius: 50%;
}

.purple-text {
  color: purple;
}

/*  footer */
.social-icons {
  font-size: 1.25rem;
}
.links-area a {
  color: #fff;
  margin: 0 0.25rem;
}
.important-links a {
  color: rgb(109, 109, 109);
  margin: 0 0.5rem;
}
.second-row {
  background-color: #3f3f3f;
}
ul.languages li,
ul.currency li {
  list-style: none;
  margin: 0 0.5rem;
}

ul.languages li.selected,
ul.currency li.selected {
  color: #ff02ff;
}
